.main-form {
    background: white;
    width: 480px;
    position: absolute;
    right: 5%;
    padding: 30px 40px;
    z-index: 99999;
    border: 1px solid black;
}

.partner-us {
    font-family: 'GothamBold', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    color: #222222;
    margin-bottom: 15px;
    margin-top: 15px;
}

.partner-us-txt {

}

#form-line {
    height: 3px;
    background: #000000;
}

#country-select {
    list-style-type: none;
}

#have-promo-code, #accept-privacy-input {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 5px;
}

.promo-code {
    display: flex;
    align-items: self-end;
}

.promo-code span {
    color: #00a082;
    font-size: 16px;
    text-align: left;
    font-family: 'Gotham-book', sans-serif;
    /*line-height: 1;*/
}

#accept-privacy-input {
    margin: 0 10px 0 0;
}

.accept-privacy {
    display: flex;
    align-items: center;
}

.accept-privacy-policy span {
    font-size: 16px;
    color: #6e6e6e;
    font-family: 'Gotham-book', sans-serif;
    /*text-transform: none;*/
}

.have-promo-hidden {
    display: none;
}

.continue-btn {
    margin: 20px auto;
    display: block;
    font-family: "GothamBold", sans-serif;
    text-align: center;
    font-size: 20px;
    background: #00a082;
    padding: 15px 75px;
    color: #ffffff;
    border-radius: 30px;
    border: 2px solid #00a082;
}

.country-selector button {
    height: 38px;
}

.c-yellow {
    color: #ffc244;
    padding-left: 3px;
}

.names-wrapper {
    display: flex;
    height: 25px;
}

.phone-wrapper {
    display: flex;
}

input, select, .country-selector button {
    height: 38px;
    padding: 5px 5px;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #d8d8d8;
    color:#35495E;
}

p {
    margin: 0;
}

.active {
    display: flex;
}

.active button {
    font-family: GothamBold, sans-serif;
    text-align: center;
    font-size: 16px;
    background: #00a082;
    padding: 15px 50px;
    border-radius: 30px;
    color: #ffffff;
    border: 2px solid #00a082;
    width: 190px;
    height: 53px;
    margin-top: 10px;
    margin-left: 10px;
}


.hidden {
    display: none;
}
/*.displayFlex {*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*}*/

/*select#country-select option[value="and"]   { background-image:url(Andorra.png);   }*/
/*select#test_select option[value="arm"] { background-image:url(Armenia.png); }*/
